/** page specific **/
#converted-container {
  margin-top: 1.2em;
  display: none;
}

input#geo-from,
input#converted-result {
  width: 50%;
}

.success-msg {
  display: none;
  color: green;
  font-weight: bold;
  padding-left: 0.8em;
}
