html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.2em;

  display: flex;
  min-height: 100%;
  flex-direction: column;
}

article {
  width: 50%;
  margin: 1em auto;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;

  background: #54595d;
  color: #fff;
  padding: 1em 25%;

  display: flex;
}

footer div {
  width: 50%;
}

footer a {
  color: #fff;
}

input {
  font-size: 1.2em;
}

.button {
  background-color: #3a25ff;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  padding: .6rem 1rem;
  transition: .3s all;
  width: auto;
  border: none;
  outline: none;
}

.main-submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form {
  display: flex;
}


input[type=text] {
  box-sizing: border-box;
  display: inline;
  border-radius: 5px;
  background: #fff;
  margin: 0;
  border: 1px solid #b6c3cc;
  color: #6d7378;
  font-weight: 700;
  padding-left: 1rem;
  background: #fff;
  padding: .8rem 1rem;
}

/** page specific **/


input[type=text]:invalid {
  border-color: red;
}

input#geo-from,
input#converted-result {
  width: 70%;
}

input#geo-from {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#converted-container {
  margin-top: 1.2em;
  display: none;
}

.success-msg {
  display: none;
  color: green;
  font-weight: bold;
}
